<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Tu tablero</title>
    <style>
        .title {
        color: #FF9900;
        text-align: center;
        padding: 4px 1px 1px 1px;
        margin: 2px;
        }

        h3{
            color: #FFB458;
            margin: 5px;
            margin-bottom: 10px;
            padding: 3px;

        }

        .container{
            background-color:black;
            min-height: 100vh;

        }

        .central_div{
            margin: auto;
            width: 80%;
            height: 350px;
            background-color: rgb(39, 39, 39);
            padding: 5px;
            border-radius: 5px;
            text-align: center;
        }

        p{
            display: inline-block;
            margin: 2px;
            color: #FFB458;
            text-align: center;
        }
        input[type=text]{
            text-align: center;
            width: 80px;
            background-color: #FF9F2A;
            color: black;
        }

        button[type=submit], input[type=button]{
            margin-top: 8px;
            height: 30px;
            width: 240px;
            background-color: #995400;
        }
        label{
            color: #FF9F2A;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">Tu Tablero</h1>
        <div class="central_div">

            <form action="/cargartablero" id="form-charge-tablero">
                <h3>Ingresa la dificultad del juego</h3>

                <div>
                    <input type="radio" name="dificultad" id="facil" value="1">
                    <label>FACIL Tamano 10x10 / 3 Minas</label>
                    <input type="radio" name="dificultad" id="medio" value="2">
                    <label>DIFICIL Tamano 15x15 / 5 Minas</label>
                    <div>
                        <input type="button" id="Confirmar" onclick="return cargarDificultad()" value="Confirmar">
                    </div>

                </div>


                <div id="zona_inputs">
                    <h3 id="h3_Inputs" hidden>Ingresa las coordenadas para tus minas</h3>

                    <div id="inputM1"hidden>
                        <p>Mina 1</p>
                        <input class="numeros" type="number" name="mina1x"  placeholder="x" id="m1x" max="9" min="0" >
                        <input class="numeros" type="number" name="mina1y"  placeholder="y" id="m1y" max="9" min="0" >
                    </div>

                    <div id="inputM2" hidden>
                        <p>Mina 2</p>
                        <input class="numeros" type="number" name="mina2x"  placeholder="x" id="m2x" max="9" min="0" >
                        <input class="numeros" type="number" name="mina2y"  placeholder="y" id="m2y" max="9" min="0" onchange="validaRepeticion()">

                    </div hidden>

                    <div id="inputM3" hidden>
                        <p>Mina 3</p>
                        <input class="numeros" type="number" name="mina3x"  placeholder="x" id="m3x" max="9" min="0" >
                        <input class="numeros" type="number" name="mina3y"  placeholder="y" id="m3y" max="9" min="0" onchange="validaRepeticion()">

                    </div>




                    <div id="inputBM1" hidden>
                        <p>Mina 1</p>
                        <input class="numeros" type="number" name="minaB1x"  placeholder="x" id="mB1x" max="14" min="0" >
                        <input class="numeros" type="number" name="minaB1y"  placeholder="y" id="mB1y" max="14" min="0" >

                    </div>

                    <div id="inputBM2" hidden>
                        <p>Mina 2</p>
                        <input class="numeros" type="number" name="minaB2x"  placeholder="x" id="mB2x" max="14" min="0" >
                        <input class="numeros" type="number" name="minaB2y"  placeholder="y" id="mB2y" max="14" min="0" onchange="validaRepeticion()">

                    </div>

                    <div id="inputBM3" hidden>
                        <p>Mina 3</p>
                        <input class="numeros" type="number" name="minaB3x"  placeholder="x" id="mB3x" max="14" min="0" >
                        <input class="numeros" type="number" name="minaB3y"  placeholder="y" id="mB3y" max="14" min="0" onchange="validaRepeticion()">

                    </div>

                    <div id="inputBM4" hidden>
                        <p>Mina 4</p>
                        <input class="numeros" type="number" name="minaB4x"  placeholder="x" id="mB4x" max="14" min="0" >
                        <input class="numeros" type="number" name="minaB4y"  placeholder="y" id="mB4y" max="14" min="0" onchange="validaRepeticion()">

                    </div>

                    <div id="inputBM5" hidden>
                        <p>Mina 5</p>
                        <input class="numeros" type="number" name="minaB5x"  placeholder="x" id="mB5x" max="14" min="0" >
                        <input class="numeros" type="number" name="minaB5y"  placeholder="y" id="mB5y" max="14" min="0" onchange="validaRepeticion()">

                    </div>

                </div>

                <button type="submit" value="Jugar" id="boton-jugar" hidden >Jugar</button>

            </form>

        </div>

    </div>

    <script>
        function cargarDificultad(){
            var radios = document.getElementsByName('dificultad');
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    var opcion_seleccionada= radios[i].value;
                    break;
                }
            }
            mostrarInputs(opcion_seleccionada);
            console.log(opcion_seleccionada);
        }

        function mostrarInputs(val_seleccionado){

            document.getElementById('h3_Inputs').hidden = false;
            document.getElementById('boton-jugar').hidden = false;

            if(val_seleccionado==1)
            {   //muestra
                document.getElementById('inputM1').hidden = false;
                document.getElementById('inputM2').hidden = false;
                document.getElementById('inputM3').hidden = false;

                //oculta
                document.getElementById('inputBM1').hidden = true;
                document.getElementById('inputBM2').hidden = true;
                document.getElementById('inputBM3').hidden = true;
                document.getElementById('inputBM4').hidden = true;
                document.getElementById('inputBM5').hidden = true;

            }
            else
            {   //Muestra
                document.getElementById('inputBM1').hidden = false;
                document.getElementById('inputBM2').hidden = false;
                document.getElementById('inputBM3').hidden = false;
                document.getElementById('inputBM4').hidden = false;
                document.getElementById('inputBM5').hidden = false;
                //Oculta
                document.getElementById('inputM1').hidden = true;
                document.getElementById('inputM2').hidden = true;
                document.getElementById('inputM3').hidden = true;

            }

            // document.getElementById('inputM1').hidden = false;
            // document.getElementById('inputM2').hidden = false;
            // document.getElementById('inputM3').hidden = false;
            // if(val_seleccionado==2){
            //     document.getElementById('inputM4').hidden = false;
            //     document.getElementById('inputM5').hidden = false;

            // }
            // else
            // {
            //     document.getElementById('inputM4').hidden = true;
            //     document.getElementById('inputM5').hidden = true;

            // }

        }

        function validaRepeticion() {
            //Sacar valor seleccionado
            var radios = document.getElementsByName('dificultad');
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    var opcion_seleccionada= radios[i].value;
                    break;
                }
            }


            var inputs = document.getElementsByClassName('numeros');
            var apto=true;
            

            if(opcion_seleccionada==1)
            {
                iterador=0;
                iterador2=0;
                tam=0;
            }
            else
            {
                iterador=6;
                iterador2=6;
                tam=6;
            }
            
            while(inputs[iterador].value != "")
            {
                tam=tam+1;
                iterador++;
                if(iterador==16)
                {
                    break;
                }
            }
            //For para controlar las casillas repetidas
            for(var i = iterador2; i < tam; i=i+2) {

                count=0;
                for(var k = iterador2; k < tam; k=k+2) {
                    
                    if( inputs[i].value == inputs[k].value && inputs[i+1].value == inputs[k+1].value)
                    {
                        count = count+1;
                        if(count==2)
                        {
                            alert("Reingrese el valor de la ultima mina, esta duplicada!");
                            i=tam;
                            k=tam;
                            apto=false;
                            count=0;
                            break;
                        }

                    }
                }

            }
            // if (apto==true) //Desabilita las casillas que ya estan comprobadas de no tener valores repetidos
            // {
            //     for(var i = 0; i < tam; i++) {
            //         document.getElementsByClassName('numeros')[i].disabled = true;
            //     }
            // }
        }


    </script>


</body>
</html>