<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Tu tablero</title>
    <style>
        .title {
        color: #FF9900;
        text-align: center;
        padding: 4px 1px 1px 1px;
        margin: 2px;
        }

        h3{
            color: #FFB458;
            margin: 5px;
            margin-bottom: 10px;
            padding: 3px;

        }

        .container{
            background-color:black;
            min-height: 100vh;

        }

        .central_div{
            margin: auto;
            width: 80%;
            height: 350px; 
            background-color: rgb(39, 39, 39);
            padding: 5px;
            border-radius: 5px;
            text-align: center;    
        }

        p{
            display: inline-block;
            margin: 2px;
            color: #FFB458;
            text-align: center;
        }
        input[type=text]{
            text-align: center;
            width: 80px;
            background-color: #FF9F2A;
            color: black;
        }

        button[type=submit], input[type=button]{
            margin-top: 8px;
            height: 30px;
            width: 240px;
            background-color: #995400;
        }
        label{
            color: #FF9F2A;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1 class="title">Tu Tablero</h1>
        <div class="central_div">

            
            
            <form action="/tableromain">
                <h3>Ingresa la dificultad del juego</h3>

                <div>
                    <input type="radio" name="dificultad" id="facil" value="1">
                    <label>FACIL Tamano 10x10 / 3 Minas</label>
                    <input type="radio" name="dificultad" id="medio" value="2">
                    <label>DIFICIL Tamano 15x15 / 5 Minas</label>
                    <div>
                        <input type="button" id="Confirmar" onclick="return cargarDificultad()" value="Confirmar">
                    </div>

                </div>


                <div id="zona_inputs">
                    <h3 id="h3_Inputs" hidden>Ingresa las coordenadas para tus minas</h3>
                   
                    <div id="inputM1"hidden>
                        <p>Mina 1</p>
                        <input type="text" name="mina1x"  placeholder="x" id="m1x" > 
                        <input type="text" name="mina1y"  placeholder="y" id="m1y" >  
                    </div>

                    <div id="inputM2" hidden>
                        <p>Mina 2</p>
                        <input type="text" name="mina2x"  placeholder="x" id="m2x">
                        <input type="text" name="mina2y"  placeholder="y" id="m2y">

                    </div hidden>
                        
                    <div id="inputM3" hidden>
                        <p>Mina 3</p>
                        <input type="text" name="mina3x"  placeholder="x" id="m3x">
                        <input type="text" name="mina3y"  placeholder="y" id="m3y">
                    
                    </div>

                    <div id="inputM4" hidden>
                        <p>Mina 4</p>
                        <input type="text" name="mina4x"  placeholder="x" id="m4x">
                        <input type="text" name="mina4y"  placeholder="y" id="m4y">
                    
                    </div>

                    <div id="inputM5" hidden>
                        <p>Mina 5</p>
                        <input type="text" name="mina5x"  placeholder="x" id="m5x">
                        <input type="text" name="mina5y"  placeholder="y" id="m5y">
                    
                    </div>
                
                </div>
                
                <button type="submit" value="Jugar" id="boton-jugar"hidden>Jugar</button>

            </form>


        </div>

    </div>

    <script>
        function cargarDificultad(){
            var radios = document.getElementsByName('dificultad');
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    var opcion_seleccionada= radios[i].value;
                    break;
                }
            }            
            mostrarInputs(opcion_seleccionada);
            console.log(opcion_seleccionada);
        }

        function mostrarInputs(val_seleccionado){
            
            document.getElementById('h3_Inputs').hidden = false;
            document.getElementById('boton-jugar').hidden = false;

            document.getElementById('inputM1').hidden = false;
            document.getElementById('inputM2').hidden = false;
            document.getElementById('inputM3').hidden = false;
            if(val_seleccionado==2){
                document.getElementById('inputM4').hidden = false;
                document.getElementById('inputM5').hidden = false;

            }
            else 
            {
                document.getElementById('inputM4').hidden = true;
                document.getElementById('inputM5').hidden = true;

            }
            
        }
        
    </script>
    
    
</body>
</html>